image: chinmaymjog/cicd-toolkit:latest

before_script:
  - docker info && docker login -u "$DOCKER_REGISTRY_USER" -p "$DOCKER_REGISTRY_PASSWORD" $DOCKER_REGISTRY
  - |
    # Determine the environment based on branch/tag
    case "$CI_COMMIT_REF_NAME" in
      "$CI_DEFAULT_BRANCH") ENV="preprod" ;;
      v[0-9]*.[0-9]*.[0-9]*) ENV="prod" ;;
      *) ENV="dev" ;;
    esac
  - |
    # Define constants
    FS_NAME="lab-k8s"
    APP_DIR="$CI_PROJECT_NAME"
    APP_NAMESPACE="$CI_PROJECT_NAME"
  - |
    # Set IMAGE_TAG based on environment
    if [[ "$ENV" == "preprod" ]]; then
      IMAGE_TAG="preprod"
      APP_NAME="$ENV-$CI_PROJECT_NAME"
      ENV_APP_DIR="$CI_PROJECT_NAME/preprod"
      DB_NAME="$ENV-$CI_PROJECT_NAME"
      SITE_URL="$ENV-$CI_PROJECT_NAME.apps.ilearndevops.in"
    elif [[ "$ENV" == "prod" ]]; then
      IMAGE_TAG="latest"
      APP_NAME="$ENV-$CI_PROJECT_NAME"
      ENV_APP_DIR="$CI_PROJECT_NAME/prod"
      DB_NAME="$ENV-$CI_PROJECT_NAME"
      SITE_URL="$CI_PROJECT_NAME.apps.ilearndevops.in"
    else
      IMAGE_TAG="$CI_COMMIT_REF_SLUG"
      APP_NAME="$ENV-$CI_COMMIT_REF_SLUG"
      ENV_APP_DIR="$CI_PROJECT_NAME/$CI_COMMIT_REF_SLUG"
      DB_NAME="$ENV-$CI_COMMIT_REF_SLUG"
      SITE_URL="$ENV-$CI_COMMIT_REF_SLUG-$CI_PROJECT_NAME.apps.ilearndevops.in"
    fi

  - export ENV IMAGE_TAG FS_NAME APP_NAME APP_DIR APP_NAMESPACE DB_NAME ENV_APP_DIR SITE_URL

variables:
  DOCKER_HOST: tcp://docker:2376
  DOCKER_TLS_CERTDIR: "/certs"
  DOCKER_TLS_VERIFY: 1
  DOCKER_CERT_PATH: "$DOCKER_TLS_CERTDIR/client"

stages:
  - generate
  - build
  - stop_env
  - migrations
  - deploy

.dev_ref:
  environment:
    name: "development"
    url: "https://$ENV-$CI_COMMIT_REF_SLUG-$CI_PROJECT_NAME.apps.ilearndevops.in"
  rules:
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH && $CI_COMMIT_TAG == null
  tags:
    - docker

.preprod_ref:
  environment:
    name: "preprod"
    url: "https://$ENV-$CI_PROJECT_NAME.apps.ilearndevops.in"
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  tags:
    - docker

.prod_ref:
  environment:
    name: "production"
    url: "https://$CI_PROJECT_NAME.apps.ilearndevops.in"
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+$/'
  tags:
    - docker

.build_image: &build_image
  - echo $IMAGE_TAG
  - docker build -t "$DOCKER_REGISTRY_NAME/$CI_PROJECT_NAME:$IMAGE_TAG" .
  - docker push "$DOCKER_REGISTRY_NAME/$CI_PROJECT_NAME:$IMAGE_TAG"

.db_create: &db_create
  - db-create --host $DB_HOST --admin $DB_ADMIN --password $DB_PASS --dbname $DB_NAME

.db_dump: &db_dump
  - db-dump --host $DB_HOST --admin $DB_ADMIN --password $DB_PASS --dbname $DB_NAME --staccount $ST_ACCOUNT --stkey $ST_KEY --stcontainer $ST_FILESYSTEM

.db_restore: &db_restore
  - db-restore --host $DB_HOST --admin $DB_ADMIN --password $DB_PASS --dbname $DB_NAME --staccount $ST_ACCOUNT --stkey $ST_KEY --stcontainer $ST_FILESYSTEM

.db_migrate: &db_migrate
  - docker run --user www-data --rm -it -e "WORDPRESS_DB_HOST=$DB_HOST" -e "WORDPRESS_DB_USER=$DB_ADMIN" -e "WORDPRESS_DB_PASSWORD=$DB_PASS" -e "WORDPRESS_DB_NAME=$DB_NAME"  -e "NEW_URL=$TARGET_URL" -e "OLD_URL=$SOURCE_URL" wp-base wp search-replace $OLD_URL $NEW_URL --skip-columns=guid --allow-root

.fs_create: &fs_create
  - fs-create --staccount $ST_ACCOUNT --stkey $ST_KEY --stfilesystem $FS_NAME --dir $APP_DIR
  - fs-create --staccount $ST_ACCOUNT --stkey $ST_KEY --stfilesystem $FS_NAME --dir $ENV_APP_DIR
  - cat $HTACCESS_FILE > $APP_NAME.htaccess
  - cat $APP_NAME.htaccess
  - fs-upload --staccount $ST_ACCOUNT --stkey $ST_KEY --stfilesystem $FS_NAME --dir $ENV_APP_DIR --file $APP_NAME.htaccess

.assets_sync: &assets_sync
  - assets-sync --srcstaccount $SRC_ST_ACCOUNT --srcstkey $SRC_ST_KEY --srcstcontainer $CI_PROJECT_NAME/$CI_COMMIT_REF_SLUG --dststaccount $DST_ST_ACCOUNT --dststkey $DST_ST_KEY --dststcontainer $CI_PROJECT_NAME/$CI_COMMIT_REF_SLUG

.aks_deploy: &aks_deploy
  - kubectl config set-cluster $K8S_CLUSTER --server=$K8S_SERVER --certificate-authority=$K8S_CA
  - kubectl config set-credentials $K8S_USER --token=$K8S_TOKEN
  - kubectl config set-context $K8S_CLUSTER --cluster=$K8S_CLUSTER --user=$K8S_USER
  - kubectl config use-context $K8S_CLUSTER
  - envsubst < ./deploy/namespace.yaml > ./deploy/$APP_NAME-namespace.yaml
  - cat ./deploy/$APP_NAME-namespace.yaml
  - kubectl apply -f ./deploy/$APP_NAME-namespace.yaml --namespace $APP_NAMESPACE
  - envsubst < ./deploy/secret.yaml > ./deploy/$APP_NAME-secret.yaml
  - cat ./deploy/$APP_NAME-secret.yaml
  - kubectl apply -f ./deploy/$APP_NAME-secret.yaml --namespace $APP_NAMESPACE
  - envsubst < ./deploy/values.yaml > ./deploy/$APP_NAME-values.yaml
  - cat ./deploy/$APP_NAME-values.yaml
  - helm upgrade --install $APP_NAME --namespace $APP_NAMESPACE --create-namespace ./deploy -f ./deploy/$APP_NAME-values.yaml

.stop_env: &stop_env
  - kubectl config set-cluster $K8S_CLUSTER --server=$K8S_SERVER --certificate-authority=$K8S_CA
  - kubectl config set-credentials $K8S_USER --token=$K8S_TOKEN
  - kubectl config set-context $K8S_CLUSTER --cluster=$K8S_CLUSTER --user=$K8S_USER
  - kubectl config use-context $K8S_CLUSTER
  - kubectl scale -n $APP_NAMESPACE deployment/$APP_NAME --replicas 0

generate_variable:
  stage: generate
  script:
    - echo "Generating variables"
    - echo FS_NAME="lab-k8s" > .env
    - echo APP_DIR="$CI_PROJECT_NAME" >> .env
    - echo APP_NAMESPACE="$CI_PROJECT_NAME" >> .env
    - echo IMAGE_TAG="latest" >> .env
    - echo ENV="dev" >> .env
    - echo APP_NAME="$ENV-$CI_PROJECT_NAME" >> .env
    - echo ENV_APP_DIR="$CI_PROJECT_NAME/dev" >> .env
    - echo DB_NAME="$ENV-$CI_PROJECT_NAME" >> .env
    - echo SITE_URL="$ENV-$CI_PROJECT_NAME-$CI_COMMIT_REF_SLUG.apps.ilearndevops.in" >> .env
    - cat .env
  artifacts:
    reports:
      dotenv: .env
  tags:
    - docker

dev_build:
  stage: build
  services:
    - docker:dind
  script:
    - *build_image
  extends: .dev_ref

dev_db_create:
  stage: build
  variables:
    DB_HOST: $DEV_DB_HOST
    DB_ADMIN: $DEV_DB_ADMIN
    DB_PASS: $DEV_DB_PASS
    ST_ACCOUNT: $DEV_ST_ACCOUNT
    ST_KEY: $DEV_ST_KEY
  script:
    - *db_create
    - *fs_create
  extends: .dev_ref

stop_dev:
  stage: stop_env
  variables:
    K8S_SERVER: $DEV_K8S_SERVER
    K8S_CA: $DEV_K8S_CA
    K8S_USER: $DEV_K8S_USER
    K8S_TOKEN: $DEV_K8S_TOKEN
    K8S_CLUSTER: $DEV_K8S_CLUSTER
  script:
    - *stop_env
  extends: .dev_ref
  when: manual

dump_dev:
  stage: migrations
  variables:
    DB_HOST: $DEV_DB_HOST
    DB_ADMIN: $DEV_DB_ADMIN
    DB_PASS: $DEV_DB_PASS
    ST_ACCOUNT: $DEV_ST_ACCOUNT
    ST_KEY: $DEV_ST_KEY
    ST_FILESYSTEM: $APP_DIR
  script:
    - *db_dump
  extends: .dev_ref
  when: manual

migrate_preprod_dev:
  stage: migrations
  variables:
    DB_HOST: $DEV_DB_HOST
    DB_ADMIN: $DEV_DB_ADMIN
    DB_PASS: $DEV_DB_PASS
    ST_ACCOUNT: $DEV_ST_ACCOUNT
    ST_KEY: $DEV_ST_KEY
    ST_FILESYSTEM: $APP_DIR
    SOURCE_URL: $ENV-$CI_PROJECT_NAME.apps.ilearndevops.in
    TARGET_URL: $SITE_URL
  script:
    - *db_restore
    - *db_migrate
  extends: .dev_ref
  when: manual

dev_deploy:
  stage: deploy
  variables:
    K8S_SERVER: $DEV_K8S_SERVER
    K8S_CA: $DEV_K8S_CA
    K8S_USER: $DEV_K8S_USER
    K8S_TOKEN: $DEV_K8S_TOKEN
    K8S_CLUSTER: $DEV_K8S_CLUSTER
    DB_HOST: $DEV_DB_HOST
    DB_ADMIN: $DEV_DB_ADMIN
    DB_PASS: $DEV_DB_PASS
  script:
    - *aks_deploy
  extends: .dev_ref

preprod_build:
  stage: build
  services:
    - docker:dind
  script:
    - *build_image
  extends: .preprod_ref

preprod_db_create:
  stage: build
  variables:
    DB_HOST: $DEV_DB_HOST
    DB_ADMIN: $DEV_DB_ADMIN
    DB_PASS: $DEV_DB_PASS
    ST_ACCOUNT: $DEV_ST_ACCOUNT
    ST_KEY: $DEV_ST_KEY
  script:
    - *db_create
    - *fs_create
  extends: .preprod_ref

stop_preprod:
  stage: stop_env
  variables:
    K8S_SERVER: $DEV_K8S_SERVER
    K8S_CA: $DEV_K8S_CA
    K8S_USER: $DEV_K8S_USER
    K8S_TOKEN: $DEV_K8S_TOKEN
    K8S_CLUSTER: $DEV_K8S_CLUSTER
  script:
    - *stop_env
  extends: .preprod_ref
  when: manual

dump_preprod:
  stage: migrations
  variables:
    DB_HOST: $DEV_DB_HOST
    DB_ADMIN: $DEV_DB_ADMIN
    DB_PASS: $DEV_DB_PASS
    ST_ACCOUNT: $DEV_ST_ACCOUNT
    ST_KEY: $DEV_ST_KEY
    ST_FILESYSTEM: $APP_DIR
  script:
    - *db_dump
  extends: .preprod_ref
  when: manual

migrate_prod_preprod:
  stage: migrations
  variables:
    DB_HOST: $DEV_DB_HOST
    DB_ADMIN: $DEV_DB_ADMIN
    DB_PASS: $DEV_DB_PASS
    ST_ACCOUNT: $DEV_ST_ACCOUNT
    ST_KEY: $DEV_ST_KEY
    ST_FILESYSTEM: $APP_DIR
    SOURCE_URL: $CI_PROJECT_NAME.apps.ilearndevops.in
    TARGET_URL: $SITE_URL
  script:
    - *db_restore
    - *db_migrate
  extends: .preprod_ref
  when: manual

preprod_deploy:
  stage: deploy
  variables:
    K8S_SERVER: $DEV_K8S_SERVER
    K8S_CA: $DEV_K8S_CA
    K8S_USER: $DEV_K8S_USER
    K8S_TOKEN: $DEV_K8S_TOKEN
    K8S_CLUSTER: $DEV_K8S_CLUSTER
    DB_HOST: $DEV_DB_HOST
    DB_ADMIN: $DEV_DB_ADMIN
    DB_PASS: $DEV_DB_PASS
  script:
    - *aks_deploy
  extends: .preprod_ref

prod_build:
  stage: build
  services:
    - docker:dind
  script:
    - *build_image
  extends: .prod_ref

prod_db_create:
  stage: build
  variables:
    DB_HOST: $DEV_DB_HOST
    DB_ADMIN: $DEV_DB_ADMIN
    DB_PASS: $DEV_DB_PASS
    ST_ACCOUNT: $DEV_ST_ACCOUNT
    ST_KEY: $DEV_ST_KEY
  script:
    - *db_create
    - *fs_create
  tags:
    - docker
  extends: .prod_ref

stop_prod:
  stage: stop_env
  variables:
    K8S_SERVER: $DEV_K8S_SERVER
    K8S_CA: $DEV_K8S_CA
    K8S_USER: $DEV_K8S_USER
    K8S_TOKEN: $DEV_K8S_TOKEN
    K8S_CLUSTER: $DEV_K8S_CLUSTER
  script:
    - *stop_env
  extends: .prod_ref
  when: manual

dump_prod:
  stage: migrations
  variables:
    DB_HOST: $DEV_DB_HOST
    DB_ADMIN: $DEV_DB_ADMIN
    DB_PASS: $DEV_DB_PASS
    ST_ACCOUNT: $DEV_ST_ACCOUNT
    ST_KEY: $DEV_ST_KEY
    ST_FILESYSTEM: $APP_DIR
  script:
    - *db_dump
  extends: .prod_ref
  when: manual

migrate_preprod_prod:
  stage: migrations
  variables:
    DB_HOST: $DEV_DB_HOST
    DB_ADMIN: $DEV_DB_ADMIN
    DB_PASS: $DEV_DB_PASS
    ST_ACCOUNT: $DEV_ST_ACCOUNT
    ST_KEY: $DEV_ST_KEY
    ST_FILESYSTEM: $APP_DIR
    SOURCE_URL: $CI_PROJECT_NAME.apps.ilearndevops.in
    TARGET_URL: $SITE_URL
  script:
    - *db_restore
    - *db_migrate
  extends: .prod_ref
  when: manual

prod_deploy:
  stage: deploy
  variables:
    K8S_SERVER: $DEV_K8S_SERVER
    K8S_CA: $DEV_K8S_CA
    K8S_USER: $DEV_K8S_USER
    K8S_TOKEN: $DEV_K8S_TOKEN
    K8S_CLUSTER: $DEV_K8S_CLUSTER
    DB_HOST: $DEV_DB_HOST
    DB_ADMIN: $DEV_DB_ADMIN
    DB_PASS: $DEV_DB_PASS
  script:
    - *aks_deploy
  extends: .prod_ref
