stages:
  - build
  - test
  - deploy

build_image:
    stage: build
    before_script:
      - docker login $DOCKER_USER $DOCKER_PASSWORD
    script:
      - docker build -t $DOCKER_REPOSITORY:latest .
      - docker push $$DOCKER_REPOSITORY:latest
    tags:
      - wp
