image: docker:19.03.13

services:
  - docker:19.03.13-dind

stages:
  - build
  - test
  - deploy

build_image:
    stage: build
    before_script:
      - echo "$DOCKER_USER"
      - echo "$DOCKER_PASSWORD"
      - docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
    script:
#      - docker login
      - echo "$DOCKER_USER loggen in with password $DOCKER_PASSWORD"
#      - docker build -t $DOCKER_REPOSITORY:latest .
#      - docker push $$DOCKER_REPOSITORY:latest
    tags:
      - wp
