image: chinmaymjog/cicd-toolkit:latest

before_script:
  - |
    case "$CI_COMMIT_REF_NAME" in
      "$CI_DEFAULT_BRANCH")
        ENV="preprod"
        IMAGE_TAG="preprod"
        DB_NAME="preprod-$CI_PROJECT_NAME"
        DIR_NAME="$CI_PROJECT_NAME/preprod-$CI_PROJECT_NAME"
        ;;
      v[0-9]*.[0-9]*.[0-9]*)
        ENV="prod"
        IMAGE_TAG="latest"
        DB_NAME="prod-$CI_PROJECT_NAME"
        DIR_NAME="$CI_PROJECT_NAME/prod-$CI_PROJECT_NAME"
        ;;
      *)
        ENV="dev"
        IMAGE_TAG="$CI_COMMIT_REF_SLUG"
        DB_NAME="$CI_COMMIT_REF_SLUG"
        DIR_NAME="$CI_PROJECT_NAME/$CI_COMMIT_REF_SLUG"
        ;;
    esac
  - export ENV IMAGE_TAG DB_NAME DIR_NAME

stages:
  - build
  - migrations
  - deploy

.dev_ref:
  environment:
    name: "development"
    url: "http://$CI_COMMIT_REF_SLUG-$CI_PROJECT_NAME.ilearndevops.in"
  rules:
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH && $CI_COMMIT_TAG == null

.preprod_ref:
  environment:
    name: "pre-production"
    url: "http://preprod-$CI_PROJECT_NAME.ilearndevops.in"
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

.prod_ref:
  environment:
    name: "production"
    url: "http://$SITE_DOMAIN"
  rules:
    - if: $CI_COMMIT_TAG == "v\d\.\d\.\d"

.build_image: &build_image
  - docker build --pull -t "$DOCKER_REGISTRY_NAME/$CI_PROJECT_NAME:$IMAGE_TAG" .
  - docker push "$DOCKER_REGISTRY_NAME/$CI_PROJECT_NAME:$IMAGE_TAG"

.db_create: &db_create
  - db-create --host $DB_HOST --admin $DB_ADMIN --password $DB_PASS --dbname $DB_NAME

.db_dump: &db_dump
  - db-dump --host $DB_HOST --admin $DB_ADMIN --password $DB_PASS --dbname $DB_NAME --staccount $ST_ACCOUNT --stkey $ST_KEY --stcontainer $ST_CONTAINER

.db_restore: &db_restore
  - db-restore --host $DB_HOST --admin $DB_ADMIN --password $DB_PASS --dbname $DB_NAME --staccount $ST_ACCOUNT --stkey $ST_KEY --stcontainer $ST_CONTAINER

.db_migrate: &db_migrate
  - docker run --user www-data --rm -it -e "WORDPRESS_DB_HOST=$DB_HOST" -e "WORDPRESS_DB_USER=$DB_ADMIN" -e "WORDPRESS_DB_PASSWORD=$DB_PASS" -e "WORDPRESS_DB_NAME=$DB_NAME"  -e "NEW_URL=$TARGET_URL" -e "OLD_URL=$SOURCE_URL" wp-base wp search-replace $OLD_URL $NEW_URL --skip-columns=guid --allow-root

.fs_create: &fs_create
  - cat $HTACCESS_FILE > htaccess
  - fs-create --staccount $ST_ACCOUNT --stkey $ST_KEY --stfileshare $CI_PROJECT_NAME --dir $DIR_NAME --file htaccess

.assets_sync: &assets_sync
  - assets-sync --srcstaccount $SRC_ST_ACCOUNT --srcstkey $SRC_ST_KEY --srcstcontainer $CI_PROJECT_NAME/$CI_COMMIT_REF_SLUG --dststaccount $DST_ST_ACCOUNT --dststkey $DST_ST_KEY --dststcontainer $CI_PROJECT_NAME/$CI_COMMIT_REF_SLUG

.aks_deploy: &aks_deploy
  - kubectl config set-cluster $K8S_CLUSTER --server=$K8S_SERVER --certificate-authority=$K8S_CA
  - kubectl config set-credentials $K8S_USER --token=$K8S_TOKEN
  - kubectl config set-context $K8S_CLUSTER --cluster=$K8S_CLUSTER --user=$K8S_USER
  - kubectl config use-context $K8S_CLUSTER
  - kubectl get nodes
  - envsubst < ./deploy/values.yaml > ./deploy/$ENV-values.yaml
  - cat ./deploy/$ENV-values.yaml
  - helm upgrade --install $CI_PROJECT_NAME ./deploy -f /deploy/$ENV-values.yaml

dev_build:
  before_script:
    - docker info && docker login -u "$DOCKER_REGISTRY_USER" -p "$DOCKER_REGISTRY_PASSWORD" $DOCKER_REGISTRY
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: "/certs"
    DOCKER_TLS_VERIFY: 1
    DOCKER_CERT_PATH: "$DOCKER_TLS_CERTDIR/client"
  stage: build
  services:
    - docker:dind
  script:
    - *build_image
  tags:
    - docker
  extends: .dev_ref

dev_db_create:
  stage: build
  variables:
    DB_HOST: $DEV_DB_HOST
    DB_ADMIN: $DEV_DB_ADMIN
    DB_PASS: $DEV_DB_PASS
    ST_ACCOUNT: $DEV_ST_ACCOUNT
    ST_KEY: $DEV_ST_KEY
  script:
    - *db_create
    - *fs_create
  tags:
    - docker
  extends: .dev_ref

dev_deploy:
  stage: deploy
  variables:
    K8S_SERVER: $DEV_K8S_SERVER
    K8S_CA: $DEV_K8S_CA
    K8S_USER: $DEV_K8S_USER
    K8S_TOKEN: $DEV_K8S_TOKEN
    K8S_CLUSTER: $DEV_K8S_CLUSTER
    DB_HOST: $DEV_DB_HOST
    DB_ADMIN: $DEV_DB_ADMIN
    DB_PASS: $DEV_DB_PASS
  script:
    - *aks_deploy
  tags:
    - docker
  extends: .dev_ref

preprod_build:
  before_script:
    - docker info && docker login -u "$DOCKER_REGISTRY_USER" -p "$DOCKER_REGISTRY_PASSWORD" $DOCKER_REGISTRY
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: "/certs"
    DOCKER_TLS_VERIFY: 1
    DOCKER_CERT_PATH: "$DOCKER_TLS_CERTDIR/client"
  stage: build
  services:
    - docker:dind
  script:
    - *build_image
  tags:
    - docker
  extends: .preprod_ref

preprod_db_create:
  stage: build
  variables:
    DB_HOST: $DEV_DB_HOST
    DB_ADMIN: $DEV_DB_ADMIN
    DB_PASS: $DEV_DB_PASS
    ST_ACCOUNT: $DEV_ST_ACCOUNT
    ST_KEY: $DEV_ST_KEY
  script:
    - *db_create
    - *fs_create
  tags:
    - docker
  extends: .preprod_ref

# preprod_db_dump:
#   stage: migrations
#   variables:
#     DB_HOST: $DEV_DB_HOST
#     DB_ADMIN: $DEV_DB_ADMIN
#     DB_PASS: $DEV_DB_PASS
#     ST_ACCOUNT: $DEV_ST_ACCOUNT
#     ST_KEY: $DEV_ST_KEY
#   script:
#     - *db_dump
#   tags:
#     - docker
#   extends: .preprod_ref

# migrate_from_dev:
#   stage: migrations
#   variables:
#     DB_HOST: $DEV_DB_HOST
#     DB_ADMIN: $DEV_DB_ADMIN
#     DB_PASS: $DEV_DB_PASS
#     ST_ACCOUNT: $DEV_ST_ACCOUNT
#     ST_KEY: $DEV_ST_KEY
#     SOURCE_URL: $DEV_SOURCE_URL
#     TARGET_URL: $DEV_TARGET_URL
#   script:
#     - *db_dump
#     - *db_restore
#     - *db_migrate
#   tags:
#     - docker
#   extends: .preprod_ref

preprod_deploy:
  stage: deploy
  variables:
    K8S_SERVER: $DEV_K8S_SERVER
    K8S_CA: $DEV_K8S_CA
    K8S_USER: $DEV_K8S_USER
    K8S_TOKEN: $DEV_K8S_TOKEN
    K8S_CLUSTER: $DEV_K8S_CLUSTER
    DB_HOST: $DEV_DB_HOST
    DB_ADMIN: $DEV_DB_ADMIN
    DB_PASS: $DEV_DB_PASS
  script:
    - *aks_deploy
  tags:
    - docker
  extends: .preprod_ref
