image: docker:19.03.13

.before:
  before_script:
    - docker login -u $DOCKER_USER -p $DOCKER_PASSWORD

services:
  - name: docker:19.03.13-dind
    alias: docker

stages:
  - build
  - test
  - deploy

build_image:
    stage: build
    extends: .before
    script:
      - docker build -t $DOCKER_REPOSITORY:latest .
      - docker push $DOCKER_REPOSITORY:latest
    tags:
      - wp

deploy_image:
     stage: deploy
     extends: .before
     script:
       - sudo curl -L "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
       - sudo chmod +x /usr/local/bin/docker-compose
       - sudo ln -s /usr/local/bin/docker-compose /usr/bin/docker-compose
       - docker-compose --version
       - docker-compose pull
       - docker-compose up -d
     tags:
       - wp
