image: docker:19.03.13

.before:
  before_script:
    - docker login -u $DOCKER_USER -p $DOCKER_PASSWORD

services:
  - name: docker:19.03.13-dind
    alias: docker

stages:
  - build
  - test
  - deploy

build_image:
    stage: build
    extends: .before
    script:
      - docker build -t $DOCKER_REPOSITORY:latest .
      - docker push $DOCKER_REPOSITORY:latest
    tags:
      - wp

deploy_image:
     image: alpine
     stage: deploy
     # extends: .before
     before_script:
       - apk add openssh-client # Add SSH client for alpine 
       - eval $(ssh-agent -s) # Run the SSH client 
        # Adding environment's variable SSH_PRIVATE_KEY to the SSH client's agent that manages the private keys
       - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
        # Create the SSH directory and give it the right permissions
       - mkdir -p ~/.ssh
       - chmod 700 ~/.ssh
     script:
       - ssh -o StrictHostKeyChecking=no root@172.26.0.1 deploy.sh
     tags:
       - wp
