image: chinmaymjog/cicd-toolkit:latest

before_script:
  - docker info && docker login -u "$DOCKER_REGISTRY_USER" -p "$DOCKER_REGISTRY_PASSWORD" $DOCKER_REGISTRY

variables:
  DOCKER_HOST: tcp://docker:2376
  DOCKER_TLS_CERTDIR: "/certs"
  DOCKER_TLS_VERIFY: 1
  DOCKER_CERT_PATH: "$DOCKER_TLS_CERTDIR/client"

stages:
  - build
  - migrations
  - deploy

.dev_ref:
  environment:
    name: "development"
    url: "http://$CI_COMMIT_BRANCH-$CI_PROJECT_NAME.ilearndevops.in"
  rules:
    - if: $CI_COMMIT_BRANCH == "dev"
      when: manual

.preprod_ref:
  environment:
    name: "pre-production"
    url: "http://$CI_COMMIT_BRANCH-$CI_PROJECT_NAME.ilearndevops.in"
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: manual

.prod_ref:
  environment:
    name: "production"
    url: "http://$CI_COMMIT_BRANCH-$CI_PROJECT_NAME.ilearndevops.in"
  rules:
    - if: $CI_COMMIT_TAG == "v\d\.\d\.\d"
      when: manual

.build_image: &build_image
  - |
    if [[ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]]; then
      tag=""
      echo "Running on default branch '$CI_DEFAULT_BRANCH': tag = 'latest'"
    else
      tag=":$CI_COMMIT_REF_SLUG"
      echo "Running on branch '$CI_COMMIT_BRANCH': tag = $tag"
    fi
  - docker build --pull -t "$DOCKER_REGISTRY_NAME/$CI_PROJECT_NAME${tag}" .
  - docker push "$DOCKER_REGISTRY_NAME/$CI_PROJECT_NAME${tag}"

.db_create: &db_create
  - db-create --host $DB_HOST --admin $DB_ADMIN --password $DB_PASS --dbname $DB_NAME

.db_dump: &db_dump
  - db-dump --host $DB_HOST --admin $DB_ADMIN --password $DB_PASS --dbname $DB_NAME --staccount $ST_ACCOUNT --stkey $ST_KEY --stcontainer $ST_CONTAINER

.db_restore: &db_restore
  - db-restore --host $DB_HOST --admin $DB_ADMIN --password $DB_PASS --dbname $DB_NAME --staccount $ST_ACCOUNT --stkey $ST_KEY --stcontainer $ST_CONTAINER

.db_migrate: &db_migrate
  - docker run --user www-data --rm -it -e "WORDPRESS_DB_HOST=$DB_HOST" -e "WORDPRESS_DB_USER=$DB_ADMIN" -e "WORDPRESS_DB_PASSWORD=$DB_PASS" -e "WORDPRESS_DB_NAME=$DB_NAME"  -e "NEW_URL=$TARGET_URL" -e "OLD_URL=$SOURCE_URL" wp-base wp search-replace $OLD_URL $NEW_URL --skip-columns=guid --allow-root

.fs_create: &fs_create
  - fs-create --staccount $ST_ACCOUNT --stkey $ST_KEY --stfileshare $CI_PROJECT_NAME --dir $CI_COMMIT_REF_SLUG --file $HTACCESS_FILE

.assets_sync: &assets_sync
  - assets-sync --srcstaccount $SRC_ST_ACCOUNT --srcstkey $SRC_ST_KEY --srcstcontainer $CI_PROJECT_NAME/$CI_COMMIT_REF_SLUG --dststaccount $DST_ST_ACCOUNT --dststkey $DST_ST_KEY --dststcontainer $CI_PROJECT_NAME/$CI_COMMIT_REF_SLUG

.aks_deploy: &aks_deploy
  - kubectl config set-cluster $K8S_CLUSTER --server=$K8S_SERVER --certificate-authority=$K8S_CA
  - kubectl config set-credentials $K8S_USER --token=$K8S_TOKEN
  - kubectl config set-context $K8S_CLUSTER --cluster=$K8S_CLUSTER --user=$K8S_USER
  - kubectl config use-context $K8S_CLUSTER
  - kubectl get nodes

dev_build:
  stage: build
  services:
    - docker:dind
  script:
    - *build_image
  tags:
    - docker

dev_db_create:
  stage: build
  variables:
    ENV: DEV
    DB_HOST: $DEV_DB_HOST
    DB_ADMIN: $DEV_DB_ADMIN
    DB_PASS: $DEV_DB_PASS
    DB_NAME: $CI_PROJECT_NAME
    ST_ACCOUNT: $DEV_ST_ACCOUNT
    ST_KEY: $DEV_ST_KEY
    ST_CONTAINER: $CI_PROJECT_NAME
  script:
    - *db_create
    - *fs_create
  tags:
    - docker

dev_deploy:
  stage: deploy
  variables:
    ENV: DEV
    K8S_SERVER: $DEV_K8S_SERVER
    K8S_CA: $DEV_K8S_CA
    K8S_USER: $DEV_K8S_USER
    K8S_TOKEN: $DEV_K8S_TOKEN
    K8S_CLUSTER: $DEV_K8S_CLUSTER
  script:
    - *aks_deploy
  tags:
    - docker
# dev_dump:
#   stage: migrations
#   variables:
#     ENV: DEV
#     DB_HOST: $DEV_DB_HOST
#     DB_ADMIN: $DEV_DB_ADMIN
#     DB_PASS: $DEV_DB_PASS
#     DB_NAME: $CI_PROJECT_NAME
#     ST_ACCOUNT: $DEV_ST_ACCOUNT
#     ST_KEY: $DEV_ST_KEY
#     ST_CONTAINER: $CI_PROJECT_NAME
#   extends:
#     - .dump
#   tags:
#     - docker
