stages:
  - build
  - test
  - deploy

build_image:
    stage: build
    image: docker pull docker:20.10.8-dind
    before_script:
      - docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
    script:
      - docker login
      - echo "$DOCKER_USER loggen in with password $DOCKER_PASSWORD"
#      - docker build -t $DOCKER_REPOSITORY:latest .
#      - docker push $$DOCKER_REPOSITORY:latest
    tags:
      - wp
