image: chinmaymjog/cicd-toolkit:latest

before_script:
    - docker info && docker login -u "$DOCKER_REGISTRY_USER" -p "$DOCKER_REGISTRY_PASSWORD" $DOCKER_REGISTRY

variables:
  DOCKER_HOST: tcp://docker:2376
  DOCKER_TLS_CERTDIR: "/certs"
  DOCKER_TLS_VERIFY: 1
  DOCKER_CERT_PATH: "$DOCKER_TLS_CERTDIR/client"

stages:
  - build
  - deploy

.dev_ref: &dev_ref
  environment: "$CI_COMMIT_BRANCH-$CI_PROJECT_NAME.ilearndevops.in"
  rules:
    - if: $CI_COMMIT_BRANCH = "dev"
      when: manual

.preprod_ref: &preprod_ref
  environment: "$CI_COMMIT_BRANCH-$CI_PROJECT_NAME.ilearndevops.in"
  rules:
    - if: $CI_COMMIT_BRANCH = $CI_DEFAULT_BRANCH
      when: manual

.prod_ref: &prod_ref
  environment: "$CI_PROJECT_NAME.ilearndevops.in"
  rules:
    - if: $CI_COMMIT_TAG = "v\d\.\d\.\d"
      when: manual

.build_image: &build_image
    - |
      if [[ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]]; then
        tag=""
        echo "Running on default branch '$CI_DEFAULT_BRANCH': tag = 'latest'"
      else
        tag=":$CI_COMMIT_REF_SLUG"
        echo "Running on branch '$CI_COMMIT_BRANCH': tag = $tag"
      fi
    - docker build --pull -t "$DOCKER_REGISTRY_NAME/$CI_PROJECT_NAME${tag}" .
    - docker push "$DOCKER_REGISTRY_NAME/$CI_PROJECT_NAME${tag}"

dev_build:
  stage: build
  script: *build_image
  <<: *dev_ref

