apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: prod-{{ .Values.app_name }}
  namespace: {{ .Values.app_name }}
  labels:
    name: prod-{{ .Values.app_name }}
  annotations:
    nginx.ingress.kubernetes.io/auth-type: basic
    nginx.ingress.kubernetes.io/auth-secret: basic-auth
spec:
  ingressClassName: nginx
  rules:
  {{- $relname := .Values.app_name -}}
  {{- range .Values.hosts }}
  - host: {{ . }}
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: {{ $relname }}
            port: 
              number: 80
  {{- end }}